<div class="modal-background"></div>
<div class="form-wrapper">
    <mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input type="text" autocomplete="off" matInput>
    </mat-form-field>
    <span class="buttons-row">
        <button 
            mat-icon-button
            color="primary"
            (click)="closePopup()"
            >
            <mat-icon>check_circle</mat-icon>
        </button>
        <button 
            mat-icon-button
            color="warn"
            (click)="closePopup()"
            >
            <mat-icon>cancel</mat-icon>
        </button>
    </span>
</div>