<div class="modal-background"></div>
<div *ngIf="response.action !== 'delete'" class="form-wrapper">
    <mat-form-field appearance="fill">
        <mat-label>Class</mat-label>
        <input type="text" value="{{response._class.name}}" autocomplete="off" matInput>
    </mat-form-field>
    <mat-form-field *ngIf="popup==='student'" appearance="fill">
        <mat-label>Student</mat-label>
        <input type="text" value="{{response._student?.name || ''}}" autocomplete="off" matInput>
    </mat-form-field>
    <span class="buttons-row">
        <button 
            mat-icon-button
            color="primary"
            (click)="closePopup()"
            >
            <mat-icon>check_circle</mat-icon>
        </button>
        <button 
            mat-icon-button
            color="warn"
            (click)="closePopup()"
            >
            <mat-icon>cancel</mat-icon>
        </button>
    </span>
</div>