.mat-expansion-panel-header-title {
    width: 200px;
    font-weight: 500;
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column !important;
    height: 100%;
    width: 100%;
}

.row-wrap{
    width: 100%;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
}

.row-wrap:not(.stop){
    border-bottom: 1px black solid;
}

.mat-grid-tile {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}